@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding: 88px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  font-family: "Lato", sans-serif;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #3f51b5;
}

@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.header {
  background-color: #3f51b5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header_logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header_logo {
    width: 182px;
  }
}

.header_logo img {
  display: block;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .header_nav {
    display: none;
  }
}

.header_nav li:not(:first-child) {
  margin-left: 40px;
}

.header_nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header_nav li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url("../img/main-visual.jpg") no-repeat center center/cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .main-visual_content {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.main-visual_title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}

@media (max-width: 767px) {
  .main-visual_title {
    font-size: 32px;
  }
}

.main-visual_lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
}

@media (max-width: 767px) {
  .main-visual_lead {
    font-size: 18px;
    margin-top: 10px;
  }
}

.main-visual_button {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .main-visual_button {
    margin-top: 28px;
  }
}

.main-visual_button a {
  display: inline-block;
  width: 390px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
}

@media (max-width: 767px) {
  .main-visual_button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.card {
  background-color: #efefef;
}

.card_items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .card_items {
    margin-top: 42px;
  }
}

.card_item {
  background-color: #fff;
  width: calc(33.3% - 24px * 2 / 3);
  padding: 16px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .card_item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
  .card_item:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card_item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card_item:not(:nth-child(2n + 1)) {
    margin-left: 24px;
  }
  .card_item:nth-child(n + 3) {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .card_item {
    width: 100%;
    margin-left: 0;
  }
  .card_item :nth-child(n + 2) {
    margin-top: 24px;
  }
}

.card_img img {
  width: 100%;
}

.card_title {
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;
  margin-top: 4px;
}

.card_text {
  font-weight: 700;
  color: #6f7579;
  line-height: 1.5;
  margin-top: 5px;
}

.news_items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news_items {
    margin-top: 40px;
  }
}

.news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}

.news_item:not(:first-child) {
  border-top: 1px solid #707070;
}

@media (max-width: 767px) {
  .news_item {
    display: block;
  }
}

.news_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news_date {
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

.news_label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background-color: #666666;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
}

.news_label a.is-blue {
  background-color: #3f51b5;
}

.news_label a.is-red {
  background-color: #e81919;
}

.news_title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}

.news_title a {
  text-decoration: none;
  line-height: 1.25;
}

@media (max-width: 767px) {
  .news_title {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6px;
  }
}

.news_more {
  margin-top: 60px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .news_more {
    margin-top: 30px;
  }
}

.news_more a {
  text-decoration: none;
  color: #e81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
}

.news_more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url("../img/news-arrow.png") no-repeat center center/contain;
}

.price {
  background-color: #efefef;
}

.price_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .price_content {
    display: block;
    margin-top: 40px;
  }
}

.price_img {
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price_img {
    width: 100%;
  }
}

.price_img img {
  width: 100%;
}

.price_table {
  width: 59%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .price_table {
    width: 100%;
    margin-top: 14px;
  }
}

.price_attention {
  font-size: 14px;
  margin-top: 10px;
}

.price_attention a {
  font-weight: 700;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background-color: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}

.table th {
  background-color: #999999;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.table th:nth-child(1) {
  width: 172px;
}

@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}

.table td {
  text-align: right;
}

.table strong {
  color: #e81919;
  line-height: 1.2;
}

.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
  line-height: 1.2;
}

.access_map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .access_map {
    margin-top: 40px;
  }
}

.iframe_wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.iframe_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access_info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access_info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access_info-row:not(:first-child) {
  margin-top: 8px;
}

.access_info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}

.access_info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access_btn {
  text-align: center;
  margin-top: 30px;
}

.access_btn a {
  text-decoration: none;
  display: inline-block;
  width: 304px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background-color: #3f51b5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.access_btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url("../img/button-arrow.png");
}

.contact {
  background: #efefef;
}

.contact-form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}

@media (max-width: 767px) {
  .contact-form {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-form_row {
    display: block;
  }
}

.contact-form_row:not(:first-child) {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .contact-form_row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-form_label {
  width: 160px;
  margin: 0;
  padding: 5px 0 0;
}

@media (max-width: 767px) {
  .contact-form_label {
    width: 100%;
  }
}

.contact-form_label label {
  font-weight: 700;
}

.contact-form_label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form_label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #e81919;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 1;
}

@media (max-width: 767px) {
  .contact-form_label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.contact-form_input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .contact-form_input {
    width: 100%;
    margin-top: 5px;
  }
}

.contact-form_input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: fff;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form_input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form_input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 1px solid #707070;
  padding: 10px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url("../img/select-arrow.png") no-repeat right 12px center/17px 14px;
}

.contact-form_input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.contact-form_radio {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .contact-form_radio {
    margin-top: 26px;
  }
}

.contact-form_radio [type="radio"] {
  display: none;
}

.contact-form_radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}

@media (max-width: 767px) {
  .contact-form_radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}

.contact-form_radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.contact-form_radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3f51b5;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact-form_radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form_check {
  margin-top: 63px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-form_check {
    margin-top: 40px;
  }
}

.contact-form_check [type="checkbox"] {
  display: none;
}

.contact-form_check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}

.contact-form_check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.contact-form_check span::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: transparent url("../img/checkbox.png") no-repeat center center/contain;
  display: none;
}

.contact-form_check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-form_check a {
  font-weight: 700;
}

.contact-form_button {
  margin-top: 30px;
  text-align: center;
}

.contact-form_button [type="submit"] {
  background: #3f51b5 url("../img/button-arrow.png") no-repeat right 12px center/17px 16px;
  width: 304px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  font-size: 16px;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer_content {
    display: block;
  }
}

.footer_left {
  width: 36%;
}

@media (max-width: 767px) {
  .footer_left {
    width: 100%;
  }
}

.footer_logo img {
  width: 205px;
}

.footer_address,
.footer_tel {
  font-size: 14px;
}

.footer_address {
  margin-top: 26px;
}

@media (max-width: 767px) {
  .footer_address {
    margin-top: 13px;
  }
}

.footer_tel {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .footer_tel {
    margin-top: 6px;
  }
}

.footer_center {
  width: 48%;
}

@media (max-width: 767px) {
  .footer_center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
}

.footer_nav li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer_nav li:not(:first-child) {
    margin-left: 20px;
  }
}

.footer_nav li a {
  text-decoration: none;
}

.footer_right {
  width: 16%;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .footer_right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer_sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer_sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_sns li:not(:first-child) {
  margin-left: 16px;
}

.footer_sns li a {
  text-decoration: none;
}

.footer_sns li img {
  width: 30px;
}

.footer_copy {
  margin-top: 46px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer_copy {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

.to-top a {
  text-decoration: none;
}

.to-top img {
  width: 60px;
}

@media (max-width: 767px) {
  .to-top img {
    width: 40px;
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-next.png) no-repeat center center/contain;
  right: calc(50% - 600px);
}

.swiper-button-next::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-prev.png) no-repeat center center/contain;
  left: calc(50% - 600px);
}

.swiper-button-prev::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-prev {
    left: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fff;
  opacity: 1;
}

.swiper-container-horizontal
> .swiper-pagination-bullets
.swiper-pagination-bullet {
  margin-right: 6px;
  margin-left: 6px;
}

.swiper-pagination-bullet-active {
  background-color: #2f7dc8;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon_bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon_bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon_bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon_bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon_bar1,
.drawer-icon_bar2,
.drawer-icon_bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: 0;
}

.drawer-icon_bar1 {
  top: 0;
}

.drawer-icon_bar2 {
  top: 8px;
}

.drawer-icon_bar3 {
  top: 16px;
}

.drawer-content {
  position: fixed;
  height: 100%;
  width: 200px;
  right: 0;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content_item {
  border-bottom: 1px dotted #707070;
}

.drawer-content_item a {
  display: block;
  color: #707070;
  text-decoration: none;
  padding: 18px 20px;
  position: relative;
}

.drawer-content_item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-b.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.qa_items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}

.qa_item:nth-child(n + 2) {
  margin-top: 24px;
}

.qa-box {
  border: 1px solid #3f51b5;
}

.qa-box_q {
  color: #fff;
  background-color: #3f51b5;
  padding: 12px 56px;
  font-weight: 700;
  position: relative;
}

.qa-box_q::after {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}

.qa_box_icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa_box_icon.is-open .qa-box_bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa-box_bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.qa-box_bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box_a {
  background-color: #fff;
  font-weight: 700;
  color: #3f51b5;
  line-height: 1.5;
  padding: 16px 30px 16px 20px;
  display: none;
}

.qa-box_content {
  position: relative;
  padding-left: 35px;
}

.qa-box_content::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
}

.modal-contact {
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 24px * 2);
  height: 652px;
  max-height: calc(100% - 24px * 2);
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
  display: none;
}

@media (max-width: 767px) {
  .modal-contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-contact_head {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 24px;
  position: relative;
  text-align: center;
}

.modal-contact_head::after {
  content: "";
  width: 100px;
  height: 2px;
  background: #3f51b5;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-contact_content {
  margin-top: 40px;
  height: calc(100% - 84px - 108px);
  overflow: auto;
}

.modal-contact_content > :first-child {
  margin-top: 0;
}

.modal-contact_sub-head {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
  margin-top: 40px;
}

.modal-contact_sub-head::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background: #3f51b5;
}

.modal-contact_text {
  margin-top: 16px;
  line-height: 1.5;
  padding-left: 20px;
}

.modal-contact_button {
  margin-top: 60px;
  text-align: center;
}

.modal-contact_button a {
  text-decoration: none;
  display: inline-block;
  width: 176px;
  padding: 14px;
  text-align: center;
  color: #fff;
  background: #3f51b5;
  font-weight: 700;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.modal-contact_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
}

.modal-contact_icon a {
  text-decoration: none;
}

.modal-contact_icon img {
  width: 40px;
}

.modal-contact_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
}
